:root{
    --text-primary: #212529;
    --text-secondary : #6c757d;
    --text-tertiary: #adb5bd;
    --color-active: #9d4edd;
    --button: #7b2cbf;
    --background: #FFFF;
    --alert-ok: #d4edda;
    --alert-border-ok: #c3e6cb;
}